<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>项目列表</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li>项目列表</li>
	</ol>
	<div class="page-header">
		<h2>项目列表<a class="btn btn-link" style="float: right" href="/"><span
				class="glyphicon glyphicon-hand-right"></span> Home</a></h2>
	</div>
	<p>
		<button class="btn btn-success btn-sm project-edit"><span
				class="glyphicon glyphicon-plus"></span> 新增
		</button>
		<a class="btn btn-primary btn-sm" style="float: right" href="javascript:location.reload();"><span
				class="glyphicon glyphicon-search"></span> 查询</a>
	</p>
	<form th:action="@{list}">
		<input type="hidden" th:name="page" th:value="${page.number}">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>id</th>
				<th>名称</th>
				<!--<th>项目组</th>-->
				<th>描述</th>
				<th>操作时间</th>
				<th> 操作</th>
			</tr>
			</thead>
			<tr th:each="item: ${page.content}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<!--<td th:text="${item.role}"></td>-->
				<td th:text="${item.explaination}"></td>
				<td th:text="${#dates.format(item.modifiedDate,'yyyy-MM-dd HH:mm')}"></td>
				<td>
					<a th:attr="projectId=${item.id}" class="btn btn-success btn-sm project-edit">
						<span class="glyphicon glyphicon-edit"></span> 修改
					</a>
					<a class="btn btn-link btn-sm" th:href="@{'/facade/list?projectId='+${item.id}}">
						<span class="glyphicon glyphicon-hand-right"></span> 接口
					</a>
				</td>
			</tr>
		</table>
		<p th:include="./common/page.html"></p>
	</form>
	<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">项目编辑</h4>
				</div>
				<div id="modal_project_body" class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="saveProject" type="button" class="btn btn-primary">提交</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
	$(function () {
		$('.project-edit').click(function () {
			var id = $(this).attr('projectId');
			if (id == null) {
				id = ''
			}
			$("#modal_project_body").load('save?id=' + id);
			$('#projectModal').modal({
				backdrop: false,
				keyboard: false,
			})
		})

		$('#saveProject').click(function () {
			$.ajax({
				url: '/project/save.biz',
				async: false,
				data: $('#modal_project_body form').serialize(),
				dataType: 'json',
				method: 'post',
				error: function (a, b, c) {
					console.log('网络异常', a, b, c)
				},
				success: function (data) {
					console.log(data)
					location.reload()
				}
			})
		})
	})
</script>
</html>