<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>save project</title>
</head>
<body>
<form method="post" action="/project/save">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<table>
		<tr>
			<th>项目名称</th>
			<td>
				<input name="name">
			</td>
			<th>role</th>
			<td>
				<input name="role">
			</td>
		</tr>
		<tr>
			<th>desc</th>
			<td>
				<textarea name="desc"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="save">
			</td>
		</tr>
	</table>
</form>
</body>
</html>