<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>接口详情</title>
    <style th:include="./common/css.html"></style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="center">
<div class="page-header">
    <h2>接口详情</h2>
</div>
<div class="readonly form-horizontal">
    <div class="page-header">
        <h3>接口信息</h3>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">接口名称</label>
        <div class="col-sm-10">
            <input th:value="${facade?.name}" class="form-control" name="name" placeholder="请输入项目名称">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">请求路径</label>
        <div class="col-sm-10">
            <input th:value="${facade?.uri}" class="form-control" name="uri" placeholder="请输入请求路径">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">方法</label>
        <div class="col-sm-10">
            <input th:value="${facade?.method}" class="form-control" name="uri" placeholder="请输入请求路径">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">接口说明</label>
        <div class="col-sm-10">
            <input th:value="${facade?.desc}" class="form-control" name="desc" placeholder="请输入接口说明">
        </div>
    </div>
</div>
<div class="page-header">
    <h3>参数列表
        <a class="btn btn-success btn-xs" th:href="@{'/param/save?model=REQUEST&facadeId='+${facade?.id}}"><span
                class="glyphicon glyphicon-plus"></span></a>
    </h3>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>参数名</th>
        <th>参数含义</th>
        <th>参数类型</th>
        <th>mock规则</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr th:each="item: ${pageRequest}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.desc}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.mock}"></td>
        <td>
            <a class="btn btn-success btn-sm" th:href="@{'/param/save?id='+${item.id}}"><span
                    class="glyphicon glyphicon-edit"></span> 修改</a>
            <a class="btn btn-success btn-sm" th:if="${'Array' eq item.type or 'Object' eq item.type}"
               th:href="@{'/param/append?fid='+${item.id}}"><span
                    class="glyphicon glyphicon-plus"></span> </a>
        </td>
    </tr>
</table>
<div class="page-header">
    <h3>返回值列表
        <a class="btn btn-success btn-xs" th:href="@{'/param/save?model=RESPONSE&facadeId='+${facade?.id}}"><span
                class="glyphicon glyphicon-plus"></span></a>
    </h3>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>参数名</th>
        <th>参数含义</th>
        <th>参数类型</th>
        <th>mock规则</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr th:each="item: ${pageResponse}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.desc}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.mock}"></td>
        <td>
            <a class="btn btn-success btn-sm" th:href="@{'/param/save?id='+${item.id}}"><span
                    class="glyphicon glyphicon-edit"></span> 修改</a>
            <a class="btn btn-success btn-sm" th:if="${'Array' eq item.type or 'Object' eq item.type}"
               th:href="@{'/param/append?fid='+${item.id}}"><span
                    class="glyphicon glyphicon-plus"></span> </a>
        </td>
    </tr>
</table>
</body>
<script src="//static.360buyimg.com/finance/??common/lib/jquery/1.8.3/jquery.js"></script>
<script>
    $(function () {
        $('.readonly :input').each(function (i, v) {
            $(v).attr("readonly", true)
        })
    })
</script>
</html>