<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参数编辑</title>
    <style th:include="./common/css.html"></style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body th:class="center">
<!--<h2>接口信息</h2>-->
<form class="form-horizontal" method="post" action="/param/save">
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
    <input type="hidden" th:name="id" th:value="${parameter?.id}">
    <input type="hidden" th:name="model" th:value="${parameter?.model}">
    <input type="hidden" th:name="fid" th:value="${parameter?.fid}">
    <input type="hidden" th:name="facadeId" th:value="${parameter?.facadeId}">

    <div class="form-group">
        <label class="col-sm-2 control-label">参数名</label>
        <div class="col-sm-10">
            <input th:value="${parameter?.name}" class="form-control" name="name" placeholder="请输入参数名">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">参数说明</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="desc" th:text="${parameter?.desc}"
                      placeholder="请输入参数说明"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="type">参数类型</label>
        <div class="col-sm-10">
            <select class="form-control" th:name="type" id="type">
                <option th:selected="${#strings.equals('Number', parameter?.type)}">Number</option>
                <option th:selected="${#strings.equals('String', parameter?.type)}">String</option>
                <option th:selected="${#strings.equals('Boolean', parameter?.type)}">Boolean</option>
                <option th:selected="${#strings.equals('Object', parameter?.type)}">Object</option>
                <option th:selected="${#strings.equals('Array', parameter?.type)}">Array</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">mock规则</label>
        <div class="col-sm-10">
            <input th:value="${parameter?.mock}" class="form-control" name="mock" placeholder="请输入mock规则">
        </div>
    </div>
    <!--<input class="btn btn-success" type="submit" value="save">-->
</form>
</body>
</html>